// Window
$windowHeaderBackgroundColor: rgb(24, 24, 24);
$windowSideBarBackgroundColor: rgb(41, 41, 41);
$windowContentBackgroundColor: rgb(29, 29, 29);

// TODO change color
$liquidBounceRepresentativeColor: #3bd0ee;


