// Window
$windowHeaderBackgroundColor: rgb(25, 25, 25);
$windowSideBarBackgroundColor: rgb(35, 35, 35);
$windowContentBackgroundColor: rgb(30, 30, 30);

// TODO change color
$liquidBounceRepresentativeColor: #3bd0ee;


